aub-core/src/main/resources/wsdl/AUB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >

<wsdl:types>
	<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
		<s:element name="ProcessRequestString">
			<s:complexType>
				<s:sequence>
					<s:element name="req" minOccurs="0" maxOccurs="1" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="ProcessRequestStringResponse">
			<s:complexType>
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="ProcessRequestStringResult" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:element>
	</s:schema>
</wsdl:types>
<wsdl:message name="ProcessRequestStringSoapIn">
	<wsdl:part name="parameters" element="tns:ProcessRequestString" />
</wsdl:message>
<wsdl:message name="ProcessRequestStringSoapOut">
	<wsdl:part name="parameters" element="tns:ProcessRequestStringResponse" />
</wsdl:message>
<wsdl:portType name="DataServiceSoap">
	<wsdl:operation name="ProcessRequestString">
		<wsdl:input message="tns:ProcessRequestStringSoapIn" />
		<wsdl:output message="tns:ProcessRequestStringSoapOut" />
	</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="ProcessRequestString">
		<soap:operation soapAction="http://tempuri.org/ProcessRequestString" style="document" />
		<wsdl:input>
			<soap:body user="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
	<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="ProcessRequestString">
		<soap12:operation soapAction="http://tempuri.org/ProcessRequestString" style="document" />
		<wsdl:input>
			<soap12:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap12:body use="literal" />
		</wsdl:output>
	</wsdl:operation>
</wsdl:binding>
<wsdl:service name="DataService">
	<wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
		<soap:address location="https://gib-test.kuwait.aub.net/GIBComController.asmx" />
	</wsdl:port>
	<wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
		<soap:address location="http://gib-test.kuwait.aub.net/GIBComController.asmx" />
	</wsdl:port>
</wsdl:service>
</wsdl:definitions>